.pageHeader {
    text-align: center;
    margin-bottom: 16px;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.shop {
    flex-basis: auto;
    border: 1px dotted #808080;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
}